
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="filtering">
    <form>
        <label>Name</label> <input type="text" name="name" id="name" />
        <label>Department</label> @Html.DropDownList("DepartmentId",string.Empty)
        <button type="submit" id="LoadRecordsButton">Load records</button>
    </form>
</div>

<div id="CourseTableContainer">

</div>

@section Scripts{

    <script type="text/javascript">


        $(function () {

            $('#CourseTableContainer').jtable({
                title: 'Course Table',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'Name ASC',

                actions: {
                    listAction: '/Course/List',
                    createAction: '/Course/Create',
                    updateAction: '/Course/Edit',
                    deleteAction: '/Course/Delete'
                },

                fields: {
                    CourseId: {
                        key: true,
                        list: false
                    },
                    Name: {
                        title: 'Name',
                        width: '40%'
                    },
                    Code: {
                        title: 'Code',
                        width: '20%'
                    },
                    Credit: {
                        title: 'Credit',
                        width: '20%'
                    },
                    DepartmentId: {
                        title: 'Department Name',
                        options: '/Course/GetDepartment',
                        width: '20%'
                    },


                }
            });
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#CourseTableContainer').jtable('load', {
                    name: $('#name').val(),
                    departmentId: $('#DepartmentId').val()
                });
            });

            //Load all records when page is first shown
            $('#LoadRecordsButton').click();
        });


    </script>
}
