@using UniversityWebApp.Areas.Admin.Models

@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    <img src="~/Content/images/jegwCzaeibasi.jpg" class="img-rounded img-responsive" />
    <br />
    <br />

    <a href="#" class="btn btn-success">Update Details</a>
    <br /><br />
</div>

<div class="col-md-8">
    <div class="alert alert-info">
        <h2>User Bio : </h2>
        <h4>Bootstrap user profile template </h4>
        <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        </p>
    </div>

</div>

