@using UniversityWebApp.Areas.Admin.Models

@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    <img src="~/Content/images/jegwCzaeibasi.jpg" class="img-rounded img-responsive" />
    <br />
    <br />

    <a href="#" class="btn btn-success">Update Details</a>
    <br /><br />
</div>

<div class="col-md-8">

</div>

