@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="filtering">
    <form>
        <label>Name</label> <input type="text" name="name" id="name" />
        <button type="submit" id="LoadRecordsButton">Search</button>
    </form>
</div>
<div id="DepartmentTableContainer">

</div>

@section Scripts{
 
    <script type="text/javascript">

  
        $(function () {

            $('#DepartmentTableContainer').jtable({
                title: 'Department Table',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'Name ASC',

                actions: {
                    listAction: '/Department/List',
                    createAction: '/Department/Create',
                    updateAction: '/Department/Edit',
                    deleteAction: '/Department/Delete'
                },

                fields: {
                    DepartmentId: {
                        key: true,
                        list: false
                    },
                    Name: {
                        title: 'Name',
                        width: '40%'
                    },
                    Code: {
                        title: 'Code',
                        width: '20%'
                    },
              

                }
            });
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#DepartmentTableContainer').jtable('load', {
                    name: $('#name').val(),
                });
            });

            //Load all records when page is first shown
            $('#LoadRecordsButton').click();
        });


    </script>
}

