@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Welcome to the AUST Website.</h3>

<p>Sponsored by the Dhaka Ahsania Mission and approved by the Government of the  People's  Republic of Bangladesh, Ahsanullah University of Science and Technology has been successfully carrying out its  noble mission since 1995.</p>


<p>It maintains close collaboration with the International Association of Universities (IAU), University Grants Commission (UGC), Bangladesh and many other national and  international educational institutions and professional bodies.
</p>

    <p>Ahsanullah University of Science and Technology was established in 1995. It follows liberal arts approach to education which nurtures fresh ideas and gives new impetus in the field of tertiary education. It ensures a high quality of education and aims to meet the demands of the contemporary times. Building on BRAC's experience of seeking solution to challenges posed by extreme poverty, BRACU hopes to instill in its students a commitment to working towards national development and progress. BRACU is accredited by the University Grants Commission (UGC) and approved by the Ministry of Education, Government of Bangladesh.</p>
    <p><strong>MISSION</strong><br>The mission of BRAC University is to foster the national development process through the creation of a centre of excellence in higher education that is responsive to society's needs, and able to develop creative leaders and actively contributes to learning and creation of knowledge.</p>
    <p><strong>GOAL</strong><br>The goal of the university is to provide an excellent broad-based education with a focus on professional development for students, in order to equip them with the knowledge and skills necessary for leading the country in its quest for development. Along with this, the university provides an environment for faculty development to ensure a dynamic teaching environment. Faculty will be provided with an environment in which they can further their teaching-learning skills and contribute to the creation of new knowledge by developing and using their research skills.</p>
