@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>    Ahsanullah University of Science & Technology
    141 & 142, Love Road, Tejgaon Industrial Area, Dhaka-1208.
    Tel. (8802) 8870422, Ext. 107, 114, Fax : (8802) 8870417-18
    Email : info@aust.edu, regr@aust.edu</p>
</address>


<address>
    <h4>Dr. S.M. Abdullah Al-Mamun</h4>
    <p>
        Department of Computer Science and Engineering
        Ahsanullah University of Science and Technology
        141 & 142, Love Road, Tejgaon Industrial Area, Dhaka-1208
    </p>
    <p>
        Phone (off): (8802)8870422, Ext: 501    Cell: 01912073524
        Email: almamun@aust.edu, al_mamun81@yahoo.con
    </p>

</address>
<address>
    <p>
        Ahsanullah University of Science & Technology
        141 & 142, Love Road, Tejgaon Industrial Area, Dhaka-1208.
        Tel. (8802) 8870422, Ext. 107, 114, Fax : (8802) 8870417-18
        Email : info@aust.edu, regr@aust.edu
    </p>
</address>
<address>
    <p>
        Ahsanullah University of Science & Technology
        141 & 142, Love Road, Tejgaon Industrial Area, Dhaka-1208.
        Tel. (8802) 8870422, Ext. 107, 114, Fax : (8802) 8870417-18
        Email : info@aust.edu, regr@aust.edu
    </p>
</address>