@{
    ViewBag.Title = "Home Page";
}

 <!-- Slider -->
<header id="head">
    @*<img src="~/Content/images/slides/Ahsanullah%20University-3.jpg" class="container" id="head" />*@
    <img src="~/Content/images/7683516086_bb7ddb4d25_k.jpg"  style="height: 400px"/>
    @*<div class="container">
            <div class="heading-text">
                <h1 class="animated flipInY delay1">Start Online Education</h1>
                <p>Free Online education template for elearning and online education institute.</p>
            </div>

            <div class="fluid_container">
                <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                    <div data-thumb="~/Content/images/slides/thumbs/img1.jpg" data-src="~/Content/images/slides/img1.jpg">
                        <h2>We develop.</h2>
                    </div>
                    <div data-thumb="~/Content/images/slides/thumbs/img2.jpg" data-src=" ~/Content/images/slides/img2.jpg">
                    </div>
                    <div data-thumb="~/Content/images/slides/thumbs/img3.jpg" data-src=" ~/Content/images/slides/img3.jpg">
                    </div>
                </div><!-- #camera_wrap_3 -->
            </div><!-- .fluid_container -->
        </div>*@
</header>
<!-- /Slider -->

<!-- About Us -->
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
            <p><span>Welcome to the AUST Website.</span></p>
            <p>Sponsored by the Dhaka Ahsania Mission and approved by the Government of the  People's  Republic of Bangladesh, Ahsanullah University of Science and Technology has been successfully carrying out its  noble mission since 1995.</p>
            <p>It maintains close collaboration with the International Association of Universities (IAU), University Grants Commission (UGC), Bangladesh and many other national and  international educational institutions and professional bodies.</p>
            <a href="#" title="read more" class="btn-inline " target="_self">read more</a>
        </div>


        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Members</h2></div>
            <div class="list styled custom-list">
                <ul>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#"><p><b>Chancellor</b></p><p>Mr. Md. Abdul Hamid
                                                                                                                                            President of the People's Republic of Bangladesh</p></a></li>
                    <li>
                        <a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">
                            <p><b>Chairman, Board of Trustees</b></p><p>
                                                                  Mr. Kazi Rafiqul Alam
                                                                  President
                                                                  Dhaka Ahsania Mission
                                             </p>
                        </a>
                    </li>
                    <li>
                        <a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">
                            <p><b>Vice-Chancellor</b></p><p>
                                                      Prof. Dr. A.M.M. Safiullah
                                             </p>
                        </a>
                    </li>
                    <li>
                        <a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">
                            <p><b>Treasurer</b></p><p>
                                                Prof. Dr. Kazi Shariful Alam

                            </p>
                        </a>
                    </li>
                   </ul>
            </div>
        </div>
    </div>
</section>
<!-- /About Us -->

<!-- Round Logo -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/images/1.png" alt="" />
                </div><!--icon box top -->
                <h4>Online Courses</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.
                </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/images/2.png" alt="" />
                </div><!--icon box top -->
                <h4>Meet our Staff</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.
                </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/images/3.png" alt="" />
                </div><!--icon box top -->
                <h4>Latest Updates</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.
                </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/images/4.png" alt="" />
                </div><!--icon box top -->
                <h4>Placements</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.
                </p>
                <p><a href="#"><em>Read More →</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
    </div>
</div>
<!-- /Round Logo -->